$reset-btn-color: rgb(235, 58, 38);
$delete-btn-color: rgb(248, 179, 76);
$result-color: rgb(105, 245, 116);
$main-color: rgb(255, 252, 246);

#container{
    width: 30%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 5rem repeat(5, auto);
}